body {
  background-image: url("/assets/images/background.png");
  height: 100%;
}

.main-content {
  background-color: rgb(245, 243, 237);
}

.burger-card {
  background-color: white;
}

#modal-eating {
  position: fixed !important;
  top: 170px;
  width: 100%;
  height: 225px !important;

}

.modal-content {
  border:  none !important;
  background: transparent !important;
}

.modal {
  background-color: transparent !important;
}
#modal-body {
  background-color: orange;
  align-self: center;
}

.burgers {
  max-height: 400px;
  overflow: auto ;
}

#burger-image {
  height: 100px;
  float: right;
}

.title-bar, .place-order {
  background-color: orange;
}

.eat-burger {
  font-size: 10px;
  background-color: orange;

}

@media (max-width: 770px) {
  #burger-image {
      float: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
}